/***** MODULO PRESET SCSS *****/

.ed-element.preset-columns-two-v2-default {
	@include columns-two-v2($margin: (2rem, null, null));
}
.ed-element.preset-text-v2-default {
	@include text-v2(
		$text-columns: (2, null, 1),
		$text-columns-gap: 1rem null null,
		$border-style-primary: none,
		$border-width-primary: 1px,
		$border-color-primary: $color-primary
	);
}
.ed-element.preset-columns-three-v2-default {
	@include columns-three-v2;
}
.ed-element.preset-unequal-columns-three-50-25-25 {
	@include unequal-columns-three(
		$box-1-width: (50%, null, 100%),
		$box-2-width: (25%, null, 100%),
		$box-3-width: (25%, null, 100%)
	);
}
.ed-element.preset-unequal-columns-three-25-25-50 {
	@include unequal-columns-three(
		$box-1-width: (25%, null, 100%),
		$box-2-width: (25%, null, 100%),
		$box-3-width: (50%, null, 100%),
		$margin: (2rem, null, null)
	);
}
.ed-element.preset-banner-v3-default {
	@include banner-v3;
}
.ed-element.preset-grid-2-1-default {
	@include grid-2-1;
}
.ed-element.preset-grid-2-1-2-default {
	@include grid-2-1-2;
}
.ed-element.preset-menu-v2-default {
	@include menu-v2(
		$menu-wrapper-background: rgba(69,40,42,0.85),
		$menu-wrapper-align: flex_end_menu,
		$menu-wrapper-padding: (1rem 2rem 1rem 2rem, 0.5rem 2rem 0.5rem 2rem, null),
		$logo-position: default,
		$logo-padding: 1rem,
		$menu-logo-width: default,
		$menu-padding-outer: 0rem,
		$menu-wrapper-sticky: sticky_instant,
		$sticky-animation: true,
		$menu-wrapper-sticky-background: rgba(69,40,42,0.85),
		$logo-width-sticky: auto,
		$menu-wrapper-shadow: (2px, 2px, 4px, 0, rgba(0, 0, 0, 0.2)),
		$menu-color-choice: menu_items,
		$hover-style: hover_border_bottom,
		$menu-color: $color-background,
		$menu-color-active: $color-primary,
		$hover-border-size: (2px, null, null),
		$hover-border-radius: 0px,
		$menu-margin: (1rem, null, null),
		$menu-padding: (0.5rem 0rem 0.5rem 0rem, null, null),
		$menu-link-font: link-default-font,
		$menu-link-fz: (0.9rem, null, null),
		$menu-link-fw: 200,
		$menu-link-font-style: normal,
		$menu-link-letter-spacing: (0.05rem, null, null),
		$menu-link-tt: uppercase,
		$submenu-hover-style: hover_box_bottom,
		$submenu-hover-border-size: 3px,
		$submenu-hover-border-radius: 0px,
		$submenu-margin: 0rem,
		$submenu-link-padding: 1rem,
		$submenu-link-font: link-default-font,
		$submenu-link-fz: 0.85rem,
		$submenu-link-fw: $fw-base,
		$submenu-link-font-style: normal,
		$submenu-link-letter-spacing: 0,
		$submenu-link-tt: uppercase,
		$submenu-link-align: left center null,
		$menu-trigger-fullscreen: false,
		$menu-breakpoint: auto,
		$menu-trigger-color: $none,
		$menu-trigger-fixed: false,
		$menu-trigger-position: flex_end_menu,
		$menu-trigger-margin: 2vw,
		$menu-trigger-boxed: false,
		$menu-trigger-boxed-color: $none,
		$menu-trigger-description: false,
		$menu-trigger-description-only: false,
		$menu-trigger-description-name: Menu,
		$menu-trigger-description-close-name: Close,
		$menu-trigger-description-position: vertical_top,
		$menu-trigger-description-fz: 0.65rem,
		$extended-trigger-settings: false,
		$menu-trigger-position-open: auto,
		$menu-trigger-padding: 0px,
		$menu-trigger-border-style: none,
		$menu-trigger-border-width: 1px,
		$menu-trigger-border-color: $none,
		$menu-trigger-border-radius: 0,
		$menu-trigger-width: 30px,
		$menu-trigger-bar-height: 3px,
		$menu-trigger-bar-spacing: 8px,
		$menu-trigger-bar-radius: 0,
		$menu-trigger-style: default,
		$menu-trigger-flip: default,
		$menu-trigger-animation: default,
		$menu-trigger-animation-duration: 0.15s,
		$menu-size: 100%,
		$menu-open-align: center_menu,
		$menu-padding-open: 1rem,
		$menu-animation: animation_fade,
		$menu-animation-duration: 0.3s,
		$menu-position: flex_end_menu,
		$menu-orientation-fullscreen: menu_orientation_column,
		$submenu-animation: animation_fade,
		$submenu-animation-duration: 0.3s,
		$submenu-direction: animation_bottom,
		$submenu-horizontal: menu_orientation_column,
		$submenu-horizontal-align: center_menu,
		$submenu-min-width: 10rem,
		$submenu-padding: 0px
	);
}
.ed-element.preset-blog-post-wireframe {
	@include blog-post;
}
.ed-element.preset-blog-blog {
	@include blog($columns: (3, null, 1), $margin: (2rem, null, null));
}
.ed-element.preset-blog-post-blog {
	@include blog-post;
}
.ed-element.preset-products-products {
	@include products($margin: (1.5rem, null, null), $columns: (4, 2, 1));
}
.ed-element.preset-blog-post-products {
	@include blog-post;
}
.ed-element.preset-unequal-columns-v2-default {
	@include unequal-columns-v2($box-width: (30%, null, 100%));
}
.ed-element.preset-accordion-v3-border {
	@include accordion-v3(
		$variant: row_icon,
		$margin: (0rem, null, null),
		$column-width: 25% 33% 100%,
		$tab-grow: true,
		$trigger-background: transparent,
		$trigger-background-active: transparent,
		$trigger-color: $color-primary,
		$trigger-color-active: $color-primary,
		$font: none,
		$trigger-font-size: (16px, null, null),
		$trigger-icon: chevron,
		$trigger-icon-color: $color-primary,
		$trigger-icon-color-active: none,
		$trigger-margin: (1rem, null, null),
		$trigger-padding: (1rem 1rem 1rem 1rem, null, null),
		$trigger-border-style: solid,
		$trigger-border-width: 1px,
		$trigger-border-color: $color-primary,
		$trigger-border-color-active: $color-primary,
		$trigger-border-radius: 0px,
		$box-shadow-primary: none,
		$content-background: transparent,
		$content-padding: (1rem 1rem 1rem 1rem, null, null),
		$content-border-style: solid,
		$content-border-width: 1px,
		$content-border-color: $color-primary,
		$content-border-radius: 0px,
		$box-shadow-secondary: none
	);
}
.ed-element.preset-accordion-v3-list-icon {
	@include accordion-v3(
		$variant: list_icon,
		$trigger-icon: none,
		$content-background: transparent,
		$trigger-background-active: $color-secondary,
		$content-padding: (0rem 1rem 1rem 1rem, null, null),
		$trigger-color: $color-background,
		$trigger-color-active: $color-background
	);
}
.ed-element.preset-accordion-v3-tabs {
	@include accordion-v3(
		$variant: tabs_icon,
		$content-padding: (1rem 1rem 1rem 1rem, null, null),
		$content-background: transparent,
		$trigger-color: $color-background,
		$trigger-icon-color: $color-background,
		$trigger-icon-color-active: $color-background
	);
}
.ed-element.preset-unequal-columns-v2-4-30-70 {
	@include unequal-columns-v2($box-width: (30%, null, 100%));
}
.ed-element.preset-unequal-columns-three-25-25-50 {
	@include unequal-columns-three(
		$box-1-width: (25%, null, 100%),
		$box-2-width: (25%, null, 100%),
		$box-3-width: (50%, null, 100%)
	);
}
.ed-element.preset-columns-two-v2-default {
	@include columns-two-v2;
}
.ed-element.preset-icon-accordion-v4-default {
	@include icon-accordion-v4($content-background: transparent);
}
.ed-element.preset-image-accordion-v4-default {
	@include image-accordion-v4;
}
.ed-element.preset-gallery-v3-captions {
	@include gallery-v3(
		$columns: (4, 5, 2),
		$grow: false,
		$margin: (1rem, null, 1rem),
		$margin-horizontal: false,
		$justify-content: flex-start-gallery,
		$style: default,
		$grid-columns: 4,
		$horizontal-position: (flex-center-gallery, null, null),
		$vertical-position: (vertical_center, null, null),
		$hover-style: captions,
		$hover-background: $color-primary,
		$hover-color: $none,
		$hover-opacity: 70%,
		$hover-scale: 110%,
		$hover-rotate: 6deg,
		$captions-position: bottom-left,
		$captions-padding: 1rem,
		$captions-font: link-default-font,
		$gallery-reverse: false,
		$border-style-primary: none,
		$border-width-primary: 1px,
		$border-color-primary: $color-primary,
		$border-radius-primary: 0px,
		$box-shadow-primary: none
	);
}
.ed-element.preset-gallery-v3-collage {
	@include gallery-v3(
		$columns: 5 5 2,
		$grow: false,
		$margin: (2rem, 1rem, 1rem),
		$margin-horizontal: false,
		$justify-content: flex-start-gallery,
		$style: collage,
		$grid-columns: 4,
		$horizontal-position: flex-center-gallery,
		$vertical-position: vertical_center,
		$hover-style: fade,
		$hover-background: $color-primary,
		$hover-color: $none,
		$hover-opacity: 70%,
		$hover-scale: 110%,
		$hover-rotate: 6deg,
		$captions-position: bottom-left,
		$captions-padding: 1rem,
		$captions-font: link-default-font,
		$gallery-reverse: false,
		$border-style-primary: none,
		$border-width-primary: 1px,
		$border-color-primary: $color-primary,
		$border-radius-primary: 0px,
		$box-shadow-primary: none
	);
}
.ed-element.preset-gallery-v3-default {
	@include gallery-v3;
}
.ed-element.preset-gallery-v3-grid-dense {
	@include gallery-v3(
		$columns: 5 5 2,
		$grow: false,
		$margin: (2rem, 1rem, 1rem),
		$margin-horizontal: false,
		$justify-content: flex-start-gallery,
		$style: grid-dense,
		$grid-columns: 4,
		$horizontal-position: flex-center-gallery,
		$vertical-position: vertical_center,
		$hover-style: fade,
		$hover-background: $color-primary,
		$hover-color: $none,
		$hover-opacity: 70%,
		$hover-scale: 110%,
		$hover-rotate: 6deg,
		$captions-position: bottom-left,
		$captions-padding: 1rem,
		$captions-font: link-default-font,
		$gallery-reverse: false,
		$border-style-primary: none,
		$border-width-primary: 1px,
		$border-color-primary: $color-primary,
		$border-radius-primary: 0px,
		$box-shadow-primary: none
	);
}
.ed-element.preset-expandable-images-default {
	@include expandable-images;
}
.ed-element.preset-gallery-v3-grid {
	@include gallery-v3(
		$columns: (3, 5, 2),
		$grow: false,
		$margin: (1rem, null, 1rem),
		$margin-horizontal: false,
		$justify-content: flex-start-gallery,
		$style: grid,
		$grid-columns: 4,
		$horizontal-position: flex-center-gallery,
		$vertical-position: vertical_center,
		$hover-style: none_default,
		$hover-background: $color-primary,
		$hover-color: $none,
		$hover-opacity: 70%,
		$hover-scale: 110%,
		$hover-rotate: 6deg,
		$captions-position: bottom-left,
		$captions-padding: 1rem,
		$captions-font: link-default-font,
		$gallery-reverse: false,
		$border-style-primary: none,
		$border-width-primary: 1px,
		$border-color-primary: $color-primary,
		$border-radius-primary: 0px,
		$box-shadow-primary: none
	);
}
.ed-element.preset-filter-gallery-v3-default {
	@include filter-gallery-v3;
}
.ed-element.preset-contact-form-v3-background {
	@include contact-form-v3(
		$columns: (3, null, 1),
		$input-background: $color-user-2,
		$border-style-primary: none,
		$border-width-primary: 1px,
		$border-color-primary: $color-default,
		$border-radius-primary: 0,
		$regenerate-color: $color-default
	);
}
.ed-element.preset-contact-form-v3-default {
	@include contact-form-v3;
}
.ed-element.preset-contact-form-v3-plain {
	@include contact-form-v3(
		$columns: 2 null 1,
		$input-background: $none,
		$border-style-primary: solid,
		$border-width-primary: (0px 0px 1px 0px, null, null),
		$border-color-primary: $color-primary,
		$border-radius-primary: 0,
		$regenerate-color: $color-primary
	);
}
.ed-element.preset-contact-form-v3-row {
	@include contact-form-v3(
		$columns: (1, 1, 1),
		$input-background: none,
		$border-style-primary: solid,
		$border-width-primary: 1px,
		$border-color-primary: $color-default,
		$border-radius-primary: 0,
		$regenerate-color: $color-default
	);
}
.ed-element.preset-label-form-v3-default {
	@include label-form-v3;
}
.ed-element.preset-horizontal-form-v3-default {
	@include horizontal-form-v3;
}
.ed-element.preset-pricing-boxes-v3-default {
	@include pricing-boxes-v3;
}
.ed-element.preset-pricing-table-v3-default {
	@include pricing-table-v3($stripes: false);
}
.ed-element.preset-pricing-blocks-v3-default {
	@include pricing-blocks-v3;
}
.ed-element.preset-image-comparison-default {
	@include image-comparison;
}
.ed-element.preset-content-marquee-v2-default {
	@include content-marquee-v2;
}
.ed-element.preset-back-button-v2-default {
	@include back-button-v2;
}
